<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouyaaa.manage.equipment.mapper.MaintenanceResultOverviewMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ouyaaa.manage.equipment.entity.MaintenanceResultOverview">
        <id column="overview_id" property="overviewId" />
        <result column="maint__code" property="maintCode" />
        <result column="regulation_code" property="regulationCode" />
        <result column="machine_code" property="machineCode" />
        <result column="work_code" property="workCode" />
        <result column="maint_date" property="maintDate" />
        <result column="maint_team" property="maintTeam" />
        <result column="maint_brand" property="maintBrand" />
        <result column="check_by" property="checkBy" />
        <result column="check_time" property="checkTime" />
        <result column="qualified_count" property="qualifiedCount" />
        <result column="unqualified_count" property="unqualifiedCount" />
        <result column="status_code" property="statusCode" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        overview_id, maint__code, regulation_code, machine_code, work_code, maint_date, maint_team, maint_brand, check_by, check_time, qualified_count, unqualified_count, status_code, update_by, update_time
    </sql>

</mapper>
