<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouyaaa.manage.material.mapper.BomDetailMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ouyaaa.manage.material.entity.BomDetail">
        <id column="materila_id" property="materilaId" />
        <result column="parent_code" property="parentCode" />
        <result column="parent_name" property="parentName" />
        <result column="materila_code" property="materilaCode" />
        <result column="materila_name" property="materilaName" />
        <result column="bom_id" property="bomId" />
        <result column="materila_value" property="materilaValue" />
        <result column="materila_unit" property="materilaUnit" />
        <result column="is_enable" property="isEnable" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        materila_id, parent_code, parent_name, materila_code, materila_name, bom_id, materila_value, materila_unit, is_enable, update_by, update_time
    </sql>

</mapper>
