<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouyaaa.manage.basis.mapper.ComponentMapper">

    <!--&lt;!&ndash; 开启二级缓存 &ndash;&gt;-->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ouyaaa.manage.basis.entity.Component">
        <id column="component_id" property="componentId" />
        <result column="parent_code" property="parentCode" />
        <result column="component_code" property="componentCode" />
        <result column="component_name" property="componentName" />
        <result column="component_privoder" property="componentPrivoder" />
        <result column="component_price" property="componentPrice" />
        <result column="arrival_time" property="arrivalTime" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        component_id, parent_code, component_code, component_name, component_privoder, component_price, arrival_time, update_time, update_by
    </sql>

</mapper>
