<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouyaaa.manage.basis.mapper.MachineMapper">



    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ouyaaa.manage.basis.entity.Machine">
        <id column="machine_id" property="machineId" />
        <result column="machine_code" property="machineCode" />
        <result column="machine_name" property="machineName" />
        <result column="machine_privoder" property="machinePrivoder" />
        <result column="machine_price" property="machinePrice" />
        <result column="type_id" property="typeId" />
        <result column="arrival_time" property="arrivalTime" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        machine_id, machine_code, machine_name, machine_privoder, machine_price, type_id, arrival_time, update_time, update_by
    </sql>

</mapper>
