<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouyaaa.manage.produce.mapper.CalendarMapper">



    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ouyaaa.manage.produce.entity.Calendar">
        <id column="calendar_id" property="calendarId" />
        <result column="calendar_code" property="calendarCode" />
        <result column="produce_date" property="produceDate" />
        <result column="produce_team" property="produceTeam" />
        <result column="produce_shift" property="produceShift" />
        <result column="is_enable" property="isEnable" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        calendar_id, calendar_code, produce_date, produce_team, produce_shift, is_enable, update_by, update_time
    </sql>

</mapper>
