<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouyaaa.manage.produce.mapper.PersonnelMapper">



    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ouyaaa.manage.produce.entity.Personnel">
        <id column="personnel_id" property="personnelId" />
        <result column="machine_code" property="machineCode" />
        <result column="produce_date" property="produceDate" />
        <result column="produce_shift" property="produceShift" />
        <result column="personel_code" property="personelCode" />
        <result column="is_enable" property="isEnable" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        personnel_id, machine_code, produce_date, produce_shift, personel_code, is_enable, update_by, update_time
    </sql>

</mapper>
